<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock title %}</title>

	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  
  </style>
</head>
<body>

	<nav class="nav navbar-inverse" id="inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
					<div class="icon-bar"></div>
					<div class="icon-bar"></div>
					<div class="icon-bar"></div>
				</button>
				<div class="navbar-brand" href="#" style="color: yellow;">Resaurent : catologue</div>
				</div>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="nav navbar-nav navbar-right " id="navcol">
						<li class="active"><a href="{{ url_for('restaurants') }}" style="color: yellow;"> Home</a></li>
						<li><a href="#" style="color: yellow;">About</a></li>
						<li><a href="#" style="color: yellow;" >Contact Me</a></li>
						<li><a href="#" style="color: yellow;" class="glyphicon glyphicon-log-in" id="glyp"> Login</a></li>>
					</ul>
					
				</div>
			</div>
		</div>
	</nav>

    <div class="container">
    	{% block content %}

    	{% endblock content %}
    </div>


</body>
</html>